<a [routerLink]="['/page_one']" style="margin-right: 100px;"><b>pageone</b></a>
<a [routerLink]="['/page_two']" style="margin-right: 100px;"><b>pagetwo</b></a>
<a [routerLink]="['/page_three']" style="margin-right: 100px;"><b>pagethree</b></a>
<br><br>
<router-outlet></router-outlet>